/* аренда студии */

position: absolute;
width: 350px;
height: 840px;
left: 32px;
top: 464px;



/* фон */

position: absolute;
width: 350px;
height: 840px;
left: 32px;
top: 464px;

/* white */
background: #FFFFFF;
/* main/gold  */
border: 1px solid #C49F60;
box-sizing: border-box;
box-shadow: 0px 0px 8px rgba(112, 112, 112, 0.2);


/* аренда и условия */

position: absolute;
width: 319px;
height: 264px;
left: 48px;
top: 496px;



/* Стоимость аренды для мероприятий */

position: absolute;
width: 318px;
height: 40px;
left: 48px;
top: 496px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* or 24px */
display: flex;
align-items: center;
text-transform: uppercase;

/* text headlines/black */
color: #414141;



/* аренда */

position: absolute;
width: 318px;
height: 32px;
left: 48px;
top: 560px;



/* 1 час */

position: absolute;
width: 318px;
height: 32px;
left: 48px;
top: 560px;



/* цена за 1 час */

position: absolute;
width: 110px;
height: 32px;
left: 48px;
top: 560px;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
text-transform: uppercase;

/* text headlines/black */
color: #414141;



/* 1 000 ₽ */

position: absolute;
width: 50px;
height: 32px;
left: 316px;
top: 560px;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
text-align: right;
text-transform: uppercase;

/* text headlines/black */
color: #414141;



/* Line 3 */

position: absolute;
width: 318px;
height: 0px;
left: 48px;
top: 592px;

/*  light gray */
border: 1px dashed #EBEBEB;


/* Предлагаем свои пространства для создания настоящих профессиональных фотографий. Эффектный ракурс, запоминающийся образ и уже продуманное место — это основные составляющие формулы великолепного снимка. В My Story возрождается трепетное отношение к каждому фото. */

position: absolute;
width: 318px;
height: 144px;
left: 49px;
top: 616px;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.02em;

/* text headlines/black */
color: #414141;



/* консультация */

position: absolute;
width: 318px;
height: 56px;
left: 48px;
top: 784px;



/* Rectangle 42 */

position: absolute;
width: 318px;
height: 56px;
left: 48px;
top: 784px;

/* text/grey */
border: 1px solid #707070;
box-sizing: border-box;


/* консультация whatsapp */

position: absolute;
width: 218px;
height: 24px;
left: 98px;
top: 800px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

/* text/grey */
color: #707070;



/* бронировать */

position: absolute;
width: 318px;
height: 56px;
left: 48px;
top: 864px;



/* Rectangle 43 */

position: absolute;
width: 318px;
height: 56px;
left: 48px;
top: 864px;

/* text/grey */
border: 1px solid #707070;
box-sizing: border-box;


/* бронировать */

position: absolute;
width: 126px;
height: 24px;
left: 144px;
top: 880px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

/* text/grey */
color: #707070;



/* картинки */

position: absolute;
width: 318px;
height: 320px;
left: 48px;
top: 952px;



/* Rectangle 26 */

position: absolute;
width: 318px;
height: 320px;
left: 48px;
top: 952px;

background: url(IMG_4235.jpg);


/* слайдер */

position: absolute;
width: 140px;
height: 64px;
left: 226px;
top: 1208px;



/* Rectangle 33 */

position: absolute;
width: 140px;
height: 64px;
left: 226px;
top: 1208px;

/* text headlines/black */
background: #414141;


/* Line 4 */

position: absolute;
width: 48px;
height: 0px;
left: 296px;
top: 1216px;

opacity: 0.3;
/* white */
border: 1px solid #FFFFFF;
transform: rotate(90deg);


/* Arrow 2 */

position: absolute;
width: 30px;
height: 0px;
left: 316px;
top: 1240px;

/* white */
border: 1px solid #FFFFFF;
box-sizing: border-box;


/* Arrow 3 */

position: absolute;
width: 30px;
height: 0px;
left: 276px;
top: 1240px;

opacity: 0.3;
/* white */
border: 1px solid #FFFFFF;
box-sizing: border-box;
transform: matrix(-1, 0, 0, 1, 0, 0);
